<p id="notice"><%= notice %></p>

<h1>Google Playground</h1>

<div  style="width:400px;height:400px">
MAP
</div>

<div  style="width:400px;height:400px">
Search and List
</div>
<div  style="width:400px;height:400px">
Buttons
</div>



<%= link_to 'New Route', new_route_path %>
